
<div id="home-container">
    <section id="feed-posts">
        <h4><br><br>POSTS</h4>
        <!-- Creating the Post via form -->
        <% if(locals.user){%>
            <br>
        <form action="./posts/create_post" id="new-post-form" method="POST">
            <textarea id="text-area" name="content" cols="30" row="3" placeholder="Type Here"></textarea>
            <input class="form-submit-button" type="submit" value="Post">
        </form>
        <%}%><br>
        <!-- DISPLAYING THE POST -->
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') %>
                    <br>
                <%}%>
            </ul>
         </div>
    </section>
        <!-- DISPLAYING All friends -->
        <section id="user-friends">
            <br><br>
            <h4>Friends</h4>
            <div id="friends">
                <% for(u of all_users){%>
                    <ul id="post-name">
                        <li><img id="profile" src="<%= post.user.avatar%>"></li>
                        <li><a href="/users/profile/<%=u.id%>"><%=u.name%></a></li>
                    </ul>
                <br>
                   <%}%>
            </div>
        </section>
</div>
<%- include('_chat_box') -%>
<!-- CREATING THE POST -->

<!-- <script src="/js/home_posts.js">

</script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" integrity="sha512-PU5S6BA03fRv1Q5fpwXjg5nlRrgdoguZ74urFInkbABMCENyx5oP3hrDzYMMPh3qdLdknIvrGj3yqZ4JuU7Nag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat_engine.js"></script> 
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<% if(locals.user){%>
    <script>
        new ChatEngine('user-chat-box','<%=locals.user.email%>');
    </script>
<% } %> 